<%- include("_header") -%>
<h2>Are you sure you want to delete is Customer?</h2>

<form action="/deletecustomer/<%= x.cusid %>" method="post">

<table>
    <tr>
        <td><label for="cusid">ID</label>:</td>
        <td><input type="number" name="cusid" id="cusid" value="<%= x.cusid %>"   readonly style="background-color: gray;" /></td>
    </tr>
    <tr>
        <td><label for="cusFname">First Name</label>:</td>
        <td><input type="text" name="cusfname" id="cusfname" value="<%= x.cusfname %>"   readonly style="background-color: gray;"/></td>
    </tr>
    <tr>
        <td><label for="cusLname">Last Name</label>:</td>
        <td><input type="text" name="cuslname" id="cuslname" value="<%= x.cuslname %>"   readonly style="background-color: gray;"/></td>
    </tr>
    <tr>
        <td><label for="cusstate">State</label>:</td>
        <td><input type="text" name="cusstate" id="cusstate" value="<%= x.cusstate %>"   readonly style="background-color: gray;"/></td>
    </tr>
    <tr>
        <td><label for="cusSalesytd">State YTD</label>:</td>
        <td><input type="text" name="cussalesytd" id="cusSalesytd" value="<%= x.cussalesytd %>"   readonly style="background-color: gray;"/></td>
    </tr>
    <tr>
        <td><label for="cussalesprev">Previous Years Sales</label>:</td>
        <td><input type="text" name="cussalesprev" id="cussalesprev" value="<%= x.cussalesprev %>"   readonly style="background-color: gray;"/></td>
        <tr>
            <td span="1">
                <button class="delete" style="float: center" type="submit" value="Delete Customer">Delete Customer</button>
            </td>
        </tr>
    </table>
</form>
<%if (msg === ""){%>

<% }else if (msg === 1) {%>
<h1>Customer Deleted Successfully!</h1>

<% } else { %>
    <h1>Record Not Deleted</h1>
    <% };%>

<%- include("_footer") -%> 