<%- include("_header") -%>

<h2> Find Customers</h2>

<h4>Total number of records in the database: <%= totRecs %></h4>

<!-- Not using bootstrap, just a simple form that you may enhance -->
<form action="/search" method="POST">
    <table>
        <tr>
            <td><label for="cusid">ID</label>:</td>
            <td><input type="number" name="cusid" id="cusid" value="<%= cus.cusid %>" /></td>
            <td>(equals)</td>
        </tr>
        <tr>
            <td><label for="cusFname">First Name</label>:</td>
            <td><input type="text" name="cusfname" id="cusfname" value="<%= cus.cusfname %>" /></td>
            <td>(begins with)</td>
        </tr>
        <tr>
            <td><label for="cusLname">Last Name</label>:</td>
            <td><input type="text" name="cuslname" id="cuslname" value="<%= cus.cuslname %>" /></td>
            <td>(begins with)</td>
        </tr>
        <tr>
            <td><label for="cusstate">State</label>:</td>
            <td><input type="text" name="cusstate" id="cusstate" value="<%= cus.cusstate %>" /></td>
            <td>(equals)</td>
        </tr>
        <tr>
            <td><label for="cusSalesytd">State YTD</label>:</td>
            <td><input type="text" name="cussalesytd" id="cusSalesytd" value="<%= cus.cussalesytd %>" /></td>
            <td>(greter than or equal to)</td>
        </tr>
        <tr>
            <td><label for="cussalesprev">Previous Years Sales</label>:</td>
            <td><input type="text" name="cussalesprev" id="cussalesprev" value="<%= cus.cussalesprev %>" /></td>
            <td>(greter than or equal to)</td>
        </tr>
        <tr>
            <td span="2">
                <button class="button" style="float: left" type="submit" value="Find" ><span class="text">Find</span></button>&nbsp;&nbsp;&nbsp;
                <button class="button" style="float: right" type="reset" value="Reset" ><span class="text">Reset</span></button>
            </td>
        </tr>
    </table>
</form>

<!-- Omitted Error Checking / Needs to be added -->
<% if (type === "post") { %>
    <% if (result.result.length === 0) { %>
        <h3>No records found!</h3>
    <% } else { %>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>State</th>
                    <th>Sales YTD</th>
                    <th>Previous Years Sales</th>
                    <th><button class='create' onclick="window.location='/createnewcustomer';">Create Customer</button></th>
                </tr>
            </thead>
            <tbody>
                <% result.result.forEach(customer => { %> 
                    <tr>
                        <td><%= customer.cusid %> </td>
                        <td><%= customer.cusfname %> </td>
                        <td><%= customer.cuslname %> </td>
                        <td><%= customer.cusstate %> </td>
                        <td><%= customer.cussalesytd %> </td>
                        <td><%= customer.cussalesprev %> </td>
                        <td span="2">
                            <button class='edit' style="float: left" onclick="window.location='/updatecustomer';">Edit</button>
                            <button class='delete' style="float: right" onclick="window.location='/deletecustomer';" >Delete</button>
                        </td>                
                    </tr>
                <% }); %>
            </tbody>

        </table>
    <% } %>
<% } %>

<%- include("_footer") -%>   